<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Uncomment below section to test memory based preference store. The section tag name must be <EvernoteSDK>-->
  <!--<configSections>
    <section name="EvernoteSDK" type="EvernoteSDK.Configuration.ENSDKConfiguration, EvernoteSDK"/>
  </configSections>
  <EvernoteSDK preferencesStoreType="EvernoteSDK.Tests.TestMemoryBasedENPreferenceStore, EvernoteSDK.Tests"></EvernoteSDK>-->
</configuration>